In [1]:
import os
os.listdir()

['Untitled.ipynb',
 'supermarkets.json',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'supermarkets-commas.txt']

In [14]:
import pandas
df1 = pandas.read_csv("supermarkets.csv")
# df1

df2 = pandas.read_json("supermarkets.json")
# df2

df3 = pandas.read_excel("supermarkets.xlsx", sheet_name=0)
#df

df4 = pandas.read_csv("supermarkets-commas.txt")
# df4

df5 = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
# df5

# df7 = df6.set_index("ID")
# df7.set_index("City", drop=False, inplace=True)
# df7

df6 = pandas.read_csv("data.txt", header=None)
df6.columns = ["ID", "Address", "City", "State", "Zip", "Country"]
df6.set_index("ID", inplace=True)
df6

                       Address           City State    Zip Country
City
San Francisco      366 21st St  San Francisco    CA  94114     USA
San Francisco   735 Dolores St  San Francisco    CA  94114     USA
San Francisco      322 Hill St  San Francisco    CA  94114     USA
San Francisco     9335 23rd St  San Francisco    CA  94114     USA
San Francisco  1056 Sanchez St  San Francisco    CA  94114     USA
San Francisco   551 Alvardo St  San Francisco    CA  94114     USA