In [1]:
import pandas
df1 = pandas.read_csv("supermarkets.csv")
# df1

df2 = pandas.read_json("supermarkets.json")
# df2

df3 = pandas.read_excel("supermarkets.xlsx", sheet_name=0)
#df

df4 = pandas.read_csv("supermarkets-commas.txt")
# df4

df5 = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
# df5

# df7 = df6.set_index("ID")
# df7.set_index("City", drop=False, inplace=True)
# df7

df6 = pandas.read_csv("data.txt", header=None)
df6.columns = ["ID", "Address", "City", "State", "Zip", "Country"]
df6.set_index("ID", inplace=True)
# df6

# df6.loc["3":"5", "State":"Zip"]
# df6.loc[1,"Address"]
# df6.loc[:, "Address"]
# list(df6.loc[:, "Address"])

# df6.iloc[0:3, 0:3]
# df6.iloc[:, 1:2]

# df6.drop(1, 0)
# df6.drop("Address", 1)

# df6.drop(df6.index[0:3], 0)
# df6.drop(df6.columns[0:2], 1)

# ADD COLUMN
#df6["Time Zone"] = df6.shape[0] * ["Pacific"]
#df6["Time Zone"] = df6["Time Zone"] + " " + "Daylight Time"

# ADD ROW
df6_t = df6.T
df6_t[7]=["My Address", "My City", "My State", "My Zip", "My Country"]
df6 = df6_t.T
# df6

In [13]:
from geopy.geocoders import ArcGIS
import pandas

arc = ArcGIS()
# arc.geocode("3995 23rd St, San Francisco, CA 94114")
df = pandas.read_csv("supermarkets.csv")
df["Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df["Coordinates"] = df["Address"].apply(arc.geocode)
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229