In [58]:
import pandas
df1 = pandas.read_csv("supermarkets.csv")
# df1

df2 = pandas.read_json("supermarkets.json")
# df2

df3 = pandas.read_excel("supermarkets.xlsx", sheet_name=0)
#df

df4 = pandas.read_csv("supermarkets-commas.txt")
# df4

df5 = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
# df5

# df7 = df6.set_index("ID")
# df7.set_index("City", drop=False, inplace=True)
# df7

df6 = pandas.read_csv("data.txt", header=None)
df6.columns = ["ID", "Address", "City", "State", "Zip", "Country"]
df6.set_index("ID", inplace=True)
# df6

# df6.loc["3":"5", "State":"Zip"]
# df6.loc[1,"Address"]
# df6.loc[:, "Address"]
# list(df6.loc[:, "Address"])

# df6.iloc[0:3, 0:3]
# df6.iloc[:, 1:2]

# df6.drop(1, 0)
# df6.drop("Address", 1)

# df6.drop(df6.index[0:3], 0)
# df6.drop(df6.columns[0:2], 1)

# ADD COLUMN
#df6["Time Zone"] = df6.shape[0] * ["Pacific"]
#df6["Time Zone"] = df6["Time Zone"] + " " + "Daylight Time"

# ADD ROW
df6_t = df6.T
df6_t[7]=["My Address", "My City", "My State", "My Zip", "My Country"]
df6 = df6_t.T
df6

            Address           City     State     Zip     Country
ID
1       366 21st St  San Francisco        CA   94114         USA
2    735 Dolores St  San Francisco        CA   94114         USA
3       322 Hill St  San Francisco        CA   94114         USA
4      9335 23rd St  San Francisco        CA   94114         USA
5   1056 Sanchez St  San Francisco        CA   94114         USA
6    551 Alvardo St  San Francisco        CA   94114         USA
7        My Address        My City  My State  My Zip  My Country

In [51]:
df6

            Address           City State    Zip Country
ID
1       366 21st St  San Francisco    CA  94114     USA
2    735 Dolores St  San Francisco    CA  94114     USA
3       322 Hill St  San Francisco    CA  94114     USA
4      9335 23rd St  San Francisco    CA  94114     USA
5   1056 Sanchez St  San Francisco    CA  94114     USA
6    551 Alvardo St  San Francisco    CA  94114     USA